body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#alert-box {
  height: 100%;
  width: 100%;
  position: absolute;
}

#alert-box.hidden,
.hidden {
  opacity: 0;
}


/* animations */

@keyframes slide1 {
    from { opacity: 0; top: 50%; left: -50%; width: 000; }
    35%  { opacity: 1; top: 50%; left: 5%; width: 90%; transform: rotate(-7deg); }
  	75%  { opacity: 1; top: 50%; left: 5%; width: 90%; transform: rotate(-7deg); }
  	to   { opacity: 0; top: 50%; left: -50%; width: 000; transform: rotate(-7deg); }
}

@keyframes slide2 {
    from { opacity: 0; top: 55%; left: 125%; width: 000; }
  	40%  { opacity: 1; top: 55%; left: 7.5%; width: 85%; transform: rotate(-7deg); }
    85%  { opacity: 1; top: 55%; left: 7.5%; width: 85%; transform: rotate(-7deg); }
  	to   { opacity: 0; top: 45%; left: 125%; width: 000; transform: rotate(-7deg); }
}

@keyframes rotateSlide {
    from { opacity: 0; top: 40%; left: 20%; transform: rotate(180deg); }
    20%  { opacity: 1; top: 57%; left: 5%; transform: rotate(-8deg); }
  	40%  { opacity: 1; top: 57%; left: 5%; transform: rotate(-8deg); }
    85%  { opacity: 1; top: 57%; left: 5%; transform: rotate(-8deg); }
  	to   { opacity: 0; top: 40%; left: -20%; }
}

@keyframes rubberBand {
  from { transform: scale3d(1, 1, 1); }
  30%  { transform: scale3d(1.25, 0.75, 1); }
  40%  { transform: scale3d(0.75, 1.25, 1); }
  50%  { transform: scale3d(1.15, 0.85, 1); }
  65%  { transform: scale3d(0.95, 1.05, 1); }
  75%  { transform: scale3d(1.05, 0.95, 1); }
  to   { transform: scale3d(1, 1, 1); }
}

@keyframes fadeInUp {
  from { opacity: 0; top: 100%}
  20% { opacity: 0; top: -18%}
  50% { opacity: 1;}
  90% { opacity: 1; }
  to { opacity: 0; top: -18%}
}

/* image */

#gif {
  opacity: 0;
  background: url('https://danilonobren.github.io/sub.gif') no-repeat;
  background-size: contain;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 2;
  animation: fadeInUp 5s ease;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

/* rectangle on bot */
#alert-background {
  opacity: 0;
  background: #8BF7DA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  height: 250px;
  position: absolute;
  z-index: 1;
  animation: slide1 8s ease;
  animation-fill-mode: forwards;
}

/* rectangle on top */
#alert-background2 {
  opacity: 0;
  background: #337B96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  height: 250px;
  position: absolute;
  z-index: 3;
  animation: slide2 7s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/* text */

#text {
  opacity: 0;
  width: 85%;
  color: #FFF;
  font-size: 80px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  transform: rotate(-10deg);
  position: absolute;
  z-index: 999;
  animation: rotateSlide 7s ease;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

#text p.name {
  padding: 0;
  margin: 0;
  color: #C75B73;
  font-weight: bold;
  font-size: calc(100% + 20px);
  animation: rubberBand 1s ease;
  animation-delay: 2s;
  animation-iteration-count: 5;
  animation-fill-mode: backwards;
}

#message {
  text-align: center;
}

#message > span > span {
  display: inline-block;
}

/* UNNECESSARY FIREWORKS */

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes gravity {
  to { transform: translateY(200px); opacity: 0; }
  }

@keyframes position { 
  0%, 19.9% { margin-top: 10%; margin-left: 40%; }
  20%, 39.9% { margin-top: 40%;margin-left: 30%; }  
  40%, 59.9% { margin-top: 20%; margin-left: 70%; }
  60%, 79.9% { margin-top: 30%; margin-left: 20%; }
  80%, 99.9% { margin-top: 30%; margin-left: 80%; }
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  animation:
    1s bang ease-out backwards, 
    1s gravity ease-in forwards, 
    5s position linear backwards;
  animation-iteration-count: 5;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
 }